
.floating-notifications .notification-row .notification-background {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #313244;
    border-radius: 16px;
    margin: 12px;
}

.floating-notifications .notification-row .notification {
    border-radius: 16px;
    background-color: @background;
    color: @foreground;
    padding: 8px;
}

.notification-row > * > * > * > * > *:first-child {
    min-height: 3.4em;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.notification-row .notification.critical {
    box-shadow: none;
    box-shadow: inset 0 0 1px 1px @color1;
}

.notification-row .notification-background .notification {
    padding: 14px;
}

.notification-row .notification .image {
    margin-right: 6px;
    border-radius: 8px;
}

.floating-notifications .notification-row .notification-background .close-button {
    border-radius: 8px;
    margin-top: 4px;
    margin-right: 2px;
    padding: 2px;
    color: @foreground;
    background-color: shade(@color1, .7);
}

.notification-row .notification-background .notification .notification-content .summary {
    font-size: 1.2em;
    margin-bottom: 2px;
    font-weight: 600;
    color: @foreground;
}

.notification-row .notification-background .notification .notification-content .time {
    color: @foreground;
}

.notification-row .notification-background .notification .notification-content .body {
    color: @foreground;
    margin-bottom: .6em;
}

.notification-row .notification .notification-action:hover {
    background-color: @hover;
}

.notification-row .notification .notification-action:active {
    background-color: @active;
    color: @foreground;
}

/* General Notification Styles */
.notification .notification-action {
    border-radius: 16px;
    color: @text;
    font-weight: 600;
    background-color: @bg-button;
    border: .6px solid @background;
    margin: .3em 0;
}

.close-button:hover {
    background-color: @color1;
}

.close-button:active {
    background-color: @color3;
}

.notification.critical progress,
.notification.low progress,
.notification.normal progress {
    background-color: @color3;
}
