
@import "_colors.css";
@import "_notifications.css";
@import "_control-center.css";

* {
    all: unset;
    font-size: 14px;
    font-family: Cantarell, otf-font-awesome, "Noto Sans CJK", sans-serif;
    transition: 160ms ease-in;
}

tooltip {
    background: shade(@background-alt, .8);
    border: .5px solid shade(@highlight, .8);
    border-radius: 6px;
}
