
.bar {
    background: transparent;
    padding: 4px;

    & label {
        font-weight: 500;
    }
}

/* Styles .widgets-[left/center/right] */
.widgets-left,
.widgets-center,
.widgets-right {
    background: rgba($background, 0.6);
    border-radius: 18px;
    padding: 6px;

    & > * {
        margin: 0 3px;
    }

    & > *:first-child {
        margin-left: 0;
    }

    & > *:last-child {
        margin-right: 0;
    }

    & > *:only-child {
        margin: 0 0px;
    }
}

.workspaces {
    padding: 2px 0px;
    border-radius: 10px;

    & > button {
        padding: 0 0;
        border-radius: 16px;
        margin: 0 2px;
        background: $color1;
        transition: ease-in 80ms;
        transition-property: all;

        &.active {
            padding: 0 22px;
            background: $foreground;
        }

        &.default {
            padding: 0 12px;
        }
    }
}

.distro-logo {
    padding: 0;
    padding-left: 12px;
    padding-right: 6px;

    & > label {
        font-size: 15px;
        padding-right: 2px;
    }
}

.systray {
    margin: 0 6px;
    
    & > * > * {
        margin: 0 4px
    }
}


.mediaplayer {
    border-radius: 12px;

    & > .media {
        border-radius: inherit;
        background: darken($color: $color3, $amount: 15);
        
        & > label {
            color: $foreground;
            font-size: inherit;

            &:first-child {
                margin-left: 8px;
            }

            &:last-child {
                margin-right: 8px;
            }
        }

        & > box.separator {
            margin: 8px 4px;
            padding: 0 1px;
            background: darken($color: $foreground, $amount: 20);
        }
    }

    &.revealed {
        background: darken($color: $color3, $amount: 25);
        transition: 80ms linear;

        .media {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .media-controls {
            background: darken($color: $color3, $amount: 25);
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;

            & button:last-child {
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
            }
        }
    }

    button {
        padding: 0 7px;
        border-radius: 0px;
    }
}

.window {
    padding: 0 4px;

    & > .icon {
        margin: 0 4px;
    }

    & > box.info {
        & > label.window-class {
            font-size: 10px;
            font-family: monospace;
            color: darken($color: $foreground, $amount: 20);
        }

        & > label.window-title {
            margin-top: -2px;
            font-size: inherit;
            color: $foreground;
        }
    }
}

.network {
    padding-left: 10px;
    padding-right: 7px;
}

.audio-eventbox { 
    &:hover box.audio {
        background: darken($color: $color2, $amount: 5);
    }

    & > box.audio {
        padding: 0 8px;
        border-radius: 12px;

        label {
            font-weight: 600;

            &:first-child {
                margin-right: 2px;
            }

            &:last-child {
                margin-left: 2px;
            }
        }
    }
}

.notifications button {
    padding-left: 12px;
    padding-right: 10px;

    &.open, &:hover {
        background: $color3;
    }
}
