
@import "../../.cache/wal/colors-anyrun.css";

* {
    border: none;
    box-shadow: none;
    outline: none;
    color: @foreground;
}

*:hover {
    background: none;
}

window {
    background: transparent;
}

box#main {
    background: @background;
    border-radius: 16px;
    box-shadow: 0 16px 22px 2px black;
    padding: 0;
    border: .5px solid @color1;
}

entry {
    padding: 6px;
    background: @background;
    border-radius: 16px;
    margin: 8px;
}

entry:focus, entry:active {
    box-shadow: inset 0 0 0 2px @color2;
}

entry:hover {
    background: lightgray;
}

list {
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background: @background;
}

list > #match {
    font-weight: 600;
    border-radius: 14px;
    padding: 7px;
    margin: 0 6px;
    color: @foreground;
}

list > #match:hover {
    transition: 120ms linear;
    background: shade(@color2, .8);
}

list > #match:selected,
list > #match:active {
    background: @color1;
}

list > #match {
    margin-bottom: 1px;
}

list > #match:last-child {
    margin-bottom: 6px;
}
