:root {
  --bg-primary: oklch(from var(--color1) calc(l - .34) c h);
  --bg-secondary: oklch(from var(--color1) calc(l - .16) c h);
  --bg-tertiary: oklch(from var(--bg-secondary) calc(l - .1) c h);
  --bg-light: var(--foreground);
  --bg-translucent-primary: oklch(from var(--bg-primary) l c h / .75);
  --bg-translucent-secondary: oklch(from var(--bg-translucent-primary) l c h / .78);
  --fg-primary: var(--foreground);
  --fg-light: var(--bg-primary);
  --fg-disabled: oklch(from var(--foreground) calc(l - .11) c h);
}
