:root {
  --cc-radius: 32px;
}
.control-center-container {
  background: var(--bg-translucent-primary);
  border-radius: var(--cc-radius);
  padding: 20px;
}
.control-center-container button:focus-visible {
  box-shadow: inset 0 0 0 1px var(--fg-primary);
}
.control-center-container .quickactions {
  margin-bottom: 0.8em;
}
.control-center-container .quickactions .user-face {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 32px;
  min-width: 34px;
  margin-right: 6px;
  border-radius: 50%;
}
.control-center-container .quickactions .user-host .user {
  font-size: 15px;
  font-weight: 600;
}
.control-center-container .quickactions .user-host .host {
  color: var(--fg-disabled);
  font-size: 10px;
  font-weight: 500;
}
.control-center-container .quickactions > box:not(.button-row) image {
  -gtk-icon-size: 12px;
  color: var(--fg-disabled);
  margin-right: 3px;
}
.control-center-container .quickactions .uptime {
  color: var(--fg-disabled);
  font-size: 10.1px;
}
.control-center-container .quickactions .button-row button {
  padding: 7px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.control-center-container .sliders icon {
  font-size: 16px;
}
.control-center-container .sliders button {
  padding: 4px;
  border-radius: 16px;
}
.control-center-container .sliders button icon {
  font-size: 14px;
}
.control-center-container .sliders button:hover {
  background: oklch(from var(--fg-primary) l c h / .2);
}
controlcenter .top-container page {
  --margin-around: 16px;
  transition: none;
  background: var(--bg-secondary);
  padding: 14px;
  border-radius: calc(var(--cc-radius) - var(--margin-around));
  margin: var(--margin-around);
}
controlcenter .top-container page scale trough {
    box-shadow: 0px 1px 5px 1px oklch(from var(--bg-primary) l c h / .5);
}
controlcenter .top-container page .header {
  margin-bottom: 12px;
}
controlcenter .top-container page .header .top .title {
  font-size: 20px;
  font-weight: 600;
}
controlcenter .top-container page .header .description {
  font-size: 12px;
  font-weight: 500;
  color: var(--fg-disabled);
}
controlcenter .top-container page .sub-header {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}
controlcenter .top-container page .page-button button,
controlcenter .top-container page .extra-buttons button {
  padding: 6px;
  border-radius: 12px;
}
controlcenter .top-container page .page-button button.selected,
controlcenter .top-container page .extra-buttons button.selected {
  background: var(--bg-tertiary);
}
controlcenter .top-container page .page-button button:hover,
controlcenter .top-container page .extra-buttons button:hover {
  background: oklch(from var(--fg-primary) l c h / .1);
}
controlcenter .top-container page .page-button button:active,
controlcenter .top-container page .extra-buttons button:active {
  border-radius: 10px;
}
controlcenter .top-container page .page-button label.title,
controlcenter .top-container page .extra-buttons label.title {
  font-size: 14px;
}
controlcenter .top-container page .page-button label.description,
controlcenter .top-container page .extra-buttons label.description {
  font-size: 10px;
  font-weight: 400;
  color: var(--fg-disabled);
}
controlcenter .top-container page .bottom-buttons button label.title {
  font-size: 14px;
  font-weight: 500;
}
controlcenter .top-container page .bottom-buttons button label.description {
  font-size: 10px;
  margin-top: -1px;
  font-weight: 400;
  color: var(--fg-disabled);
}
controlcenter .top-container page .extra-buttons {
  margin-left: 2px;
}
controlcenter .top-container page .extra-buttons button {
  border-radius: 10px;
}
controlcenter .top-container page .extra-buttons button:active {
  border-radius: 8px;
}

controlcenter .top-container page.sound .content label.name,
controlcenter .top-container page.microphone .content label.name {
  font-size: 14px;
  font-weight: 500;
}
controlcenter .top-container page.sound .content trough,
controlcenter .top-container page.microphone .content trough {
  margin-right: 10px;
}
controlcenter .top-container page.sound .content label.sub-header,
controlcenter .top-container page.microphone .content label.sub-header {
  margin-top: 6px;
}
controlcenter .top-container page .audio-stream-controller .number {
    margin-top: 6px;
}
controlcenter .top-container pages.overlay-open .control-center-container {
    filter: brightness(0.6);
}

.tiles-container .tile {
  --radius: 18px;
  --padding: 4px;
  background: oklch(from var(--bg-primary) l c h / .6);
  border-radius: var(--radius);
  padding: var(--padding);
  min-height: 40px;
}
.tiles-container .tile .icon {
  transition: 120ms ease-in;
  border-radius: calc(var(--radius) - var(--padding));
  padding: 8px 12px;
  margin-right: 6px;
  background: var(--bg-secondary);
}
.tiles-container .tile .icon image {
  -gtk-icon-size: 18px;
}
.tiles-container .tile .icon:hover {
  background: var(--bg-tertiary);
}
.tiles-container .tile .icon:active {
  border-radius: calc(var(--radius) - var(--padding) - 2px);
}
.tiles-container .tile .content .title {
  font-weight: 600;
  font-size: 15.1px;
}
.tiles-container .tile .content .description {
  font-size: 12px;
  color: var(--fg-disabled);
  font-weight: 400;
}
.tiles-container .tile .arrow {
  -gtk-icon-size: 12px;
  color: oklch(from var(--fg-disabled) l c h / .4);
}
.tiles-container .tile:hover {
  background: var(--bg-primary);
}
.tiles-container .tile.enabled .icon {
  background: var(--bg-secondary);
}
.tiles-container .tile.enabled .icon:hover {
  background: var(--bg-tertiary);
}
.tiles-container .tile:active {
  border-radius: calc(var(--radius) - 2px);
}

.tile-pages page {
  margin-top: 10px;
}

box.notif-history {
  background: var(--bg-translucent-primary);
  border-radius: var(--cc-radius);
  padding: 18px;
}
box.notif-history .notifications .notification {
  background: var(--bg-translucent-primary);
  padding: 3px;
}
box.notif-history .button-row {
  margin-top: 12px;
}
box.notif-history .button-row button {
  padding: 7px;
}
box.notif-history .button-row button label {
  font-size: 12px;
  font-weight: 600;
}
