window.floating-notifications {
  --radius: 18px;
}

window.floating-notifications notification {
  padding: 12px;
  margin: 8px 12px;
  box-shadow: 0 0 8px 1px var(--bg-translucent-primary);
  border-radius: var(--radius);
}
