@use "sass:color";
@use "./mixins";
@use "./colors";

.bar-container {
  @include mixins.reset-props;
  @include mixins.default-styles;

  padding: 6px;
  padding-bottom: 0px;

  label {
    @include mixins.reset-props;

    font-size: 12px;
    font-weight: 500;
  }

  // Style widget groups
  & > .bar-centerbox > * {
    background: colors.$bg-translucent;
    padding: 5px;
    border-radius: 18px;

    // Style widgets
    & > button,
    & > eventbox,
    & > box {
      margin: 0 2px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      & > button,
      & > eventbox > box {
        padding: 4px 8px;
        border-radius: 12px;
      }

      & > button:hover,
      & > eventbox:hover > box {
        background: colors.$bg-primary;
      }
    }
  }

  .workspaces {
    @include mixins.reset-props;
    padding: 2px 2px;

    & button {
      border-radius: 16px;
      transition: 80ms linear;
      padding: 12px 12px;
      background: colors.$bg-tertiary;
      margin: 1px 2px;

      &.focus {
        background: colors.$fg-primary;
        padding: 12px 20px;
      }
    }
  }

  .focused-client {
    padding: 0 6px;

    & > .icon {
      margin-right: 6px;
    }

    & > .text-content {
      & > .class {
        font-size: 9px;
        font-family: monospace;
        font-weight: 600;
        color: colors.$fg-disabled;
        margin-top: 0px;
      }
      
      & > .title {
        font-size: 12px;
        font-weight: 500;
        margin-top: -2px;
      }
    }
  }

  .media-eventbox {
    & > .media {
      border-radius: 12px;
      background: colors.$bg-primary;
      padding: 0 8px;
    }

    & .nf {
      margin-right: 4px;
      font-size: 14px;
    }

    & .media-controls {
        transition: none;
        padding-left: 6px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        background: linear-gradient(to left, colors.$bg-primary 45px, colors.$bg-primary);

        & > button {
          margin: 4px 1px;

          & label {
            font-size: 8px;
          }
        }
      }


    &.reveal {
      & .media > box {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .tray {
    padding: 0 6px;

    & .item {
      all: unset;

      &:hover {
        background: none;
      }

      margin: 0 6px;
      padding: 0;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .audio {
    @include mixins.reset-props;

    &:hover > box {
      background: colors.$bg-primary;
    }

    & > box {
      padding: 0 8px;
      border-radius: 12px;

      & > * > * {
        margin: 0 2px;
      }

      & .nf {
        margin: {
          right: 3px;
          left: 2px;
        };

        font-size: 12px;
      }

      & .bell {
        margin: 0 4px;
      }
    }
  }
}
