@use "sass:color";
@use "./wal";
@use "./colors";

.center-window-container {
  background: colors.$bg-translucent;
  border-radius: 18px;
  padding: 12px;

  & .big-media {
    padding: 6px;

    & > box > .image {
      background-size: cover;
      background-position: center center;
      border-radius: 10px;
    }

    & > .info {
      padding: {
        top: 4px;
        bottom: 6px;
      };

      & .title {
        font-size: 16px;
        font-weight: 700;
      }

      & .artist {
        font-size: 14px;
        font-weight: 600;
        color: colors.$fg-disabled;
      }
    }

    & slider {
      background: transparent;
      min-height: .6em;
    }

    & trough {
      border-radius: 4px;
      min-height: .6em;
    }

    & trough highlight {
      border-radius: 4px;
      min-height: .6em;
    }

    & .bottom {
      & .controls {
        margin-top: 5px;
        & button {
          padding: 7px;
          & label {
            font-size: 10px;
          }
        }
      }

      & .elapsed,
      & .length {
        font-size: 12px;
        color: colors.$fg-disabled;
      }
    }
  }

  & .left .top {
    padding-bottom: 10px;

    & .time {
      font-size: 28px;
      font-weight: 800;
    }

    & .date {
      font-size: 14px;
      font-weight: 500;
      color: colors.$fg-disabled;
    }
  }

  & .calendar-box {
    & calendar {
      $border-radius: 10px;
      font-weight: 600;
      padding-bottom: 2px;

      &.view {
        background: colors.$bg-primary;
        border-radius: $border-radius;
      }

      &.header {
        background: colors.$bg-secondary;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        padding: 4px;
      }

      &.button {
        transition: 80ms linear;
        border-radius: 6px;

        &:hover {
          background-color: colors.$bg-tertiary;
        }
      }

      &:selected {
        background: colors.$bg-secondary;
        border-radius: 6px;
      }

      &.highlight {
        background: transparent;
        box-shadow: 0 2px 0 -1px rgba(colors.$bg-secondary, .5);
      }
    }
  }
}
