@use "sass:color";
@use "./wal";
@use "./colors";
@use "./functions" as funs;
@use "./mixins";

.control-center-container {
  @include mixins.reset-props;
  @include mixins.default-styles;

  background: colors.$bg-translucent;
  border-radius: 24px;
  padding: 20px 14px;

  & > box {
    margin: 9px;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  & .quickactions {
    & .hostname {
      font-size: 15px;
      font-weight: 600;
    }

    & .uptime {
      font-size: 12px;
    }

    & .button-row {
      & button {
        padding: 7px;
        margin: {
          top: 2px;
          bottom: 2px;
        };
      }
    }
  }

  & .sliders {
    padding: 2px 6px;

    & > box {
      margin: 8px 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .icon.nf {
      margin-right: 8px;
      font-size: 15px;
    }
  }
}
