@use "sass:color";
@use "./wal";

.control-center-container {
  background: rgba(wal.$background, .65);
  border-radius: 24px;
  padding: 24px 22px;

  & {
    & button {
      padding: 4px 6px;
    }

    & .quickactions {
      background: wal.$color1;
      & .hostname {
        font-size: 15px;
        font-weight: 600;
      }

      & .uptime {
        font-size: 12px;
      }
    }
  }
}
