@use "./colors";

.logout-menu {
  background: rgba($color: colors.$bg-translucent-primary, $alpha: .4);

  .top {
    .time {
      font-size: 128px;
      font-weight: 900;
      color: colors.$fg-primary;
      text-shadow: 1px 1px 2px colors.$bg-translucent;
    }
    .date {
      font-size: 24px;
      font-weight: 500;
      text-shadow: 1px 1px 2px colors.$bg-translucent;
    }
  }
  .button-row {
    margin: 0 150px;

    & > button {
      & icon {
        font-size: 128px;
      }

      &:focus {
        box-shadow: inset 0 0 0 5px colors.$fg-primary;
      }

      margin: {
        left: 4px;
        right: 4px;
      }
      border-radius: 6px;

      &:first-child {
        border-top-left-radius: 28px;
        border-bottom-left-radius: 28px;
      }

      &:last-child {
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
      }
    }
  }
}
